@use 'variables' as v;
@use 'mixins';

.habilidades-backend{
    display: none;
    position: fixed;
    overflow-y: auto;
    background-color: #f5f5f5;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    z-index: 1;
    padding: 25px;
    transition: all .5;
    

    &__btnClose-back{
        @include mixins.btn-close;
    }

    &__title{
        margin-top: 80px;
        text-align: center;
        font-size: 40px;
    }
    &__name{
        font-weight: 700;
    }

    &__skills{
        text-align: center;
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        gap: 40px;
        @media (min-width: 768px){
            flex-direction: row;
            flex-wrap: wrap;
            width: 80%;
            margin: auto;
            margin-top: 50px;
        }
    }
    &__skill{
        box-shadow: 1px 3px 7px rgb(0 0 0 / 26%);
        
        @media screen and (min-width:768px) {
            width: 250px;
            gap: 20px;
        }
        
    }
    &__skill i{
        font-size: 120px;
        padding: 30px;
        
    }


    @media screen and (min-width:768px) {
        position: fixed;
    }
}


.html{
    color: #E56027;
}
.css{
    color: #008ED1;
}
.sass{
    color: #C36291;
}
.bootstrap{
    color: #8011F1;
}
.js{
    color: #EAD41C;
}
.react{
    color: #00CDF2;
}
.angular{
    color: #D2002E;
}