.habilidades-navbar{
    display: none;
    position: absolute;
    background-color: #f5f5f5;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    z-index: 1;
    padding: 25px;
    overflow-y: scroll;
    transition: all .5;
    

    &__btnClose{
        position: fixed;
        top: 15px;
        right: 20px;
        font-size: 30px;
        padding: 10px 15px;
        cursor: pointer;
        background-color: white;
        border-radius: 50%;
        color: #0e5d91;
    }

    &__title{
        margin-top: 80px;
        text-align: center;
        font-size: 40px;
    }
    &__name{
        font-weight: 700;
    }

    &__skills{
        text-align: center;
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
    &__skill{
        box-shadow: 1px 3px 7px rgb(0 0 0 / 26%);
        
        
    }
    &__skill i{
        font-size: 120px;
        padding: 30px;
        
    }
}


.html{
    color: #E56027;
}
.css{
    color: #008ED1;
}
.sass{
    color: #C36291;
}
.bootstrap{
    color: #8011F1;
}
.js{
    color: #EAD41C;
}
.react{
    color: #00CDF2;
}
.angular{
    color: #D2002E;
}