@use 'variables' as v;
@use 'mixins';

.navbar-modal{
    width: 70%;

    position: fixed;
    color: #000;
    background-color: white;
    top: 0;
    right: 0;
    height: 100vh;
    display: none; //cuando se presione es display flex
    justify-content: center;
  

    &__items{
        height: 231px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 101px;
        
    }
    &__item{
        color: v.$blue;
    }
    &__link{
        color: v.$blue;
        text-transform: uppercase;
        font-weight: 700;
    }
    &__btnClose{
        @include mixins.btn-close;
    }

}
