@use 'variables' as v;
.navbar{
    display: none;
    background-color: transparent;
    &__items{
        display: flex;
        justify-content: space-between;
    }
    &__link{
        color:white;
    }

    
    @media screen and (min-width: 768px) {
       display: block;
       width: 400px;
    }
    @media screen and (min-width: 850px) {
        width: 500px;
     }

     
}
.scroll{
    transition: 0.8s;
    color: v.$blue;
}
.scroll a{
    transition: 0.8s;
    color: v.$blue;
    font-weight: bold;
}


